<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">
    <title>Guest@Home4U</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700;800&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <!-- Bootstrap4 CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="/style/app.css">
    <!-- Logo stylesheet -->
    <link rel="stylesheet" href="/style/custom.css">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">

</head>

<body>
    <header>
        <div class="container-fluid" id="navbar-container">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <a class="navbar-brand text-responsive" href="/"><i class="GAH-logo mr-2"></i>GUEST<i class="GAH-AgLogo mx-1"></i>HOME 4U</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto text-center">

                        <li class="nav-item">
                            <p><a class="nav-link" href="/about">ABOUT</a></p>
                        </li>

                        <li class="nav-item">
                            <p><a class="nav-link" href="/nearby">NEARBY ATTRACTIONS</a></p>
                        </li>
                        <li class="nav-item">
                            <p><a class="nav-link" href="/faq">FAQ</a></p>
                        </li>
                        <li class="nav-item">
                            <p><a class="nav-link" href="/contact">CONTACT</a></p>
                        </li>

                    </ul>

                </div>
            </nav>
        </div>
    </header>