<%- include("partials/header")  %>
<%- include("partials/main")  %>
<div class="container row text-center justify-items-center">
    <div class="col-sm">
        <h4 class=" my-5">About us</h4>


        <p><strong>Uitsigpark Guest<i class="GAH-atLogo"></i> Home 4U</strong>
            is a luxurious establishment in Uitsigpark Security Estate situated in Eldoraigne, a modern suburb in the heart of Centurion.</p>
        <p>Come and experience our high standards of quality, luxurious accommodation and <strong>friendly team</strong>.</p>
    </div>
</div>
<div class="container d-flex justify-content-around flex-wrap align-content-around my-5">

    <div class="card my-1" style="width: 18rem;">

        <img class="card-img-top" src="https://images.unsplash.com/photo-1542156822-6924d1a71ace?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80">
        <div class="card-body">
            <p class="card-title lead">Name 1</p>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>

    <div class="card my-1" style="width: 18rem;">
        <img class="card-img-top" src="https://images.unsplash.com/photo-1531750026848-8ada78f641c2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="Card image cap">
        <div class="card-body">

            <p class="card-title lead">Name</p>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card my-1" style="width: 18rem;">
        <img class="card-img-top" src="https://images.unsplash.com/photo-1516534775068-ba3e7458af70?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="Card image cap">
        <div class="card-body">

            <p class="card-title lead">Name</p>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card my-1" style="width: 18rem;">
        <img class="card-img-top" src="https://images.unsplash.com/photo-1513258496099-48168024aec0?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="Card image cap">
        <div class="card-body">

            <p class="card-title lead">Name</p>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card my-1" style="width: 18rem;">
        <img class="card-img-top" src="https://images.unsplash.com/photo-1531545514256-b1400bc00f31?ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80" alt="Card image cap">
        <div class="card-body">

            <p class="card-title lead">Name</p>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    <div class="card my-1" style="width: 18rem;">
        <img class="card-img-top" src="https://images.unsplash.com/photo-1556157382-97eda2d62296?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="Card image cap">
        <div class="card-body">

            <p class="card-title lead">Name</p>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>

    <!-- end of the flex container for the cards-->
</div>
<%- include("partials/footer")  %>