<%- include("partials/header")  %>
<%- include("partials/main")  %>


<div class="container text-center">
    <h4 class=" my-5">Contact us</h4>
    <p><a href="mailto:albertusbjvr@gmail.com"><i class=" far fa-envelope mr-1"></i>Send us an email</a></p>
    <p><a href="tel:+27-12-653-0883"><i class="fas fa-phone-alt mr-1"></i>+27 (12) 653 0883</a></p>
    <p><a href="https://m.me/guesthouse goes here" target="_blank"><i class="fab fa-facebook-messenger mr-1"></i>Message us on facebook</a></p>
</div>

<div class="iframe-container">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7180.890209213326!2d28.160227!3d-25.854824!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x62a814fcb186511f!2sUitsigpark%20Guest%40home4U!5e0!3m2!1sen!2sus!4v1598635509479!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" id="map"></iframe>
</div>
<%- include("partials/footer")  %>