<%- include("partials/header")  %>
<%- include("partials/main")  %>
<h4 class=" my-5 text-center">Frequently asked questions:</h4>
<div class="container d-flex justify-content-around flex-wrap align-content-around my-5 ">
    <div class="card my-3 p-1" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">What type of breakfast do you serve?</h5>
            <h6 class="card-subtitle mb-2 text-muted">Full english breakfast:</h6>
            <p class="card-text">A selection of cereals</p>
            <p class="card-text">Yogurt</p>
            <p class="card-text">Fruit juice</p>
            <p class="card-text">Coffee and tea</p>
            <p class="card-text">Bacon/Boerewors</p>
            <p class="card-text">Eggs prepared to your satisfaction</p>
            <p class="card-text">Fried tomato</p>
            <p class="card-text">Mushrooms</p>
            <p class="card-text">Selection of freshly baked bread/toasted bread</p>
            <p class="card-text">Cheese</p>
            <p class="card-text">Fruit</p>

        </div>
    </div>
    <div class="card  my-3 p-1" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Do you serve lunch and dinner?</h5>
            <p class="card-text">Lunch and dinner can be arranged on request.</p>
            <p class="card-text">A variety of excellent restaurants are also available in the area.</p>
            <h5 class="card-title">At what time can I check in?</h5>
            <h6 class="card-subtitle mb-2 text-muted">Check in:</h6>
            <p class="card-text">Check-in time is between 14h00 and 22h00.</p>
            <h6 class="card-subtitle mb-2 text-muted">Check out:</h6>
            <p class="card-text">The check out time is before 10h00.</p>
        </div>
    </div>
    <div class="card my-3 p-1" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Do you offer parking?</h5>
            <p class="card-text">Secure parking is offered for each guest. </p>
            <h5 class="card-title">Do you offer WiFi?</h5>
            <p class="card-text">Yes all guests are offered free Wifi.</p>
            <h5 class="card-title">Do you have a pool?</h5>
            <p class="card-text">Yes we have a pool that is free to use for all guests, we however urge everyone to monitor children at all times and to follow the rules as set out by the owners.</p>
        </div>
    </div>
    <!-- Container div end -->
</div>
<%- include("partials/footer")  %>