<%- include("partials/header")  %>
<%- include("partials/main")  %>
<div class="container d-flex justify-content-lg-center flex-column ">
    <h3>FREQUENTLY ASKED QUESTIONS</h3>
    <div class="post">

        <hr>
    </div>
    <div class="post">

        <hr>
    </div>
    <div class="post">

        <hr>
    </div>

</div>

<%- include("partials/footer")  %>