<%- include("partials/header")  %>
<%- include("partials/main")  %>
<div class="jumbotron mt-2 text-center" id="jumbotron">
    <h1 class="text-responsive display-4">Welcome to Uitsigpark GUEST@HOME4U</h1>
    <p class=" text-center lead">Your home away from home.</p>
</div>

<div class="container d-flex justify-content-lg-center flex-column ">

    <div class="post">
        <h3>First Post</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias dolore repellat quibusdam maiores, voluptates possimus corporis iure expedita fuga sint commodi minima non libero, nam amet eum odit qui nesciunt?</p>
        <hr>
    </div>
    <div class="post">
        <h3>First Post</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias dolore repellat quibusdam maiores, voluptates possimus corporis iure expedita fuga sint commodi minima non libero, nam amet eum odit qui nesciunt?</p>
        <hr>
    </div>
    <div class="post">
        <h3>First Post</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias dolore repellat quibusdam maiores, voluptates possimus corporis iure expedita fuga sint commodi minima non libero, nam amet eum odit qui nesciunt?</p>
        <hr>
    </div>

</div>
<%- include("partials/footer")  %>