<%- include("partials/header")  %>
<%- include("partials/main")  %>
<div class="jumbotron mt-2 text-center" id="jumbotron">
    <h1 class="text-responsive display-4">Welcome to Uitsigpark GUEST@HOME4U</h1>
    <p class=" text-center lead">Your home away from home.</p>
</div>

<div class="container text-center">


    <h4 class=" mt-1">About us</h4>
    <p class="lead">Come and experience our high standards of quality, luxurious accommodation and <strong><a href="/about">friendly team.</a></strong></p>
    <p class="lead">A luxurious establishment in Uitsigpark Security Estate situated in Eldoraigne, a modern suburb in the heart of Centurion.</p>






</div>
<%- include("partials/footer")  %>