<%- include("partials/header")  %>
<%- include("partials/main")  %>
<h1>This is the Index Page</h1>

<div class="container d-flex justify-content-lg-center flex-column ">

    <div class="post">
        <h1>First Post Color Change</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias dolore repellat quibusdam maiores, voluptates possimus corporis iure expedita fuga sint commodi minima non libero, nam amet eum odit qui nesciunt?</p>
        <hr>
    </div>
    <div class="post">
        <h1>First Post</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias dolore repellat quibusdam maiores, voluptates possimus corporis iure expedita fuga sint commodi minima non libero, nam amet eum odit qui nesciunt?</p>
        <hr>
    </div>
    <div class="post">
        <h1>First Post</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias dolore repellat quibusdam maiores, voluptates possimus corporis iure expedita fuga sint commodi minima non libero, nam amet eum odit qui nesciunt?</p>
        <hr>
    </div>

</div>
<%- include("partials/footer")  %>