<%- include("partials/header")  %>
<%- include("partials/main")  %>



<div class="container-fluid row justify-content-center">
    <div class="container col-md-4 text-center">

        <h4 class=" my-5">Nearby Attractions</h4>

        <h6>Sports: </h6>

        <p><a href="https://goo.gl/maps/iTY1hHaSPoSxPcW36">
                Loftus Versfeld rugby and soccer stadium
            </a></p>
        <p></p><a href="https://goo.gl/maps/VduEjXekNQH6ShH59">
            Super Sport Park cricket stadium
        </a></p>

        <p><a href="https://goo.gl/maps/jHmNY8QYri39z3q39">
                Swartkop Country Club
            </a></p>
        <p><a href="https://goo.gl/maps/YfGvmcnbXffEnJ9V9">
                Centurion Country club
            </a></p>

        <h6>Shopping centers:</h6>

        <p><a href="https://goo.gl/maps/qjL9u8imHgvv9vU38">
                Centurion mall
            </a></p>
        <p><a href="https://goo.gl/maps/5khjVUjy72FdBDVm9">
                Centurion Lifestyle center
            </a></p>
        <p><a href="https://goo.gl/maps/BxjUB5hcdsaKscaY7">
                Mall at Reds
            </a>
        <p><a href="https://goo.gl/maps/r8PgPKgEgRJn5xus6">
                Menlyn Shopping center
            </a>
        <p><a href="https://g.page/TheMallofAfrica?share">
                Mall of Africa
            </a>

    </div>

    <div class="container col-md-4 text-center">
        <h4 class="my-5">Local Suppliers</h4>
        <h6>Tour operators:</h6>
        <p><a href="https://www.mmilotours.com/">
                Mmilo Tours
            </a></p>
        <p><a href="https://www.ulysses.co.za/">
                Ulysses Tours
            </a></p>


        <h6>Attractions:</h6>
        <p><a href="https://goo.gl/maps/8icY2F34mtEvX7gk7">
                Rietvlei dam nature reserve
            </a></p>
        <p><a href="https://goo.gl/maps/5kq5Ga5hHHX5GNJm8">
                Rhino and lion park
            </a></p>
        <p><a href="https://goo.gl/maps/woCtAFVP3wdWyo7W7">
                Cradle of humankind
            </a></p>
        <p><a href="https://goo.gl/maps/iC9vLKGe8F13V13B9">
                Jan Smuts house
            </a></p>
        <p><a href="https://g.page/montecasinoza?share">
                Monte Casino
            </a></p>
        <p><a href="https://goo.gl/maps/a4idPvvW7vQSa3bd8">
                Menlyn Maine Casino
            </a></p>
        <p><a href="https://goo.gl/maps/Y3W8obmdsKbN7Rig9">
                Netcare Unitas Hospital
            </a></p>
        <p><a href="https://goo.gl/maps/RcPBYhNjqjGcZUpy8">
                Pilanesberg Game Reserve
            </a></p>
    </div>
    <!-- End of flex container -->
</div>


<%- include("partials/footer")  %>