<%- include("partials/header")  %>
<%- include("partials/main")  %>

<h4 class=" my-5 text-center">Nearby points of interest</h4>
<div class="container d-flex justify-content-around flex-wrap align-content-around my-5 ">

    <!-- Card Nearby -->
    <div class="card my-3 p-1" style="width: 18rem;">
        <img class="card-img-top" src="https://images.unsplash.com/photo-1529663297269-6d349ec39b57?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Sports.</h5>

            <p class="card-text"><a href="https://goo.gl/maps/iTY1hHaSPoSxPcW36">
                    <i class="fas fa-map-marked-alt mr-1"></i>Loftus Versfeld rugby and soccer stadium
                </a></p>
            <p class="card-text"><a href="https://goo.gl/maps/VduEjXekNQH6ShH59">
                    <i class="fas fa-map-marked-alt mr-1"></i>Super Sport Park cricket stadium
                </a></p>
            <p class="card-text"><a href="https://goo.gl/maps/jHmNY8QYri39z3q39">
                    <i class="fas fa-map-marked-alt mr-1"></i>Swartkop Country Club
                </a></p>
            <p class="card-text"></p>

        </div>
    </div>
    <!-- Card Shopping -->
    <div class="card my-3 p-1" style="width: 18rem;">
        <img class="card-img-top" src="https://images.unsplash.com/photo-1525328437458-0c4d4db7cab4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title"><i class="fas fa-shopping-cart mr-1"></i>Shopping centers:</h5>

            <p class="card-text"><a href="https://goo.gl/maps/qjL9u8imHgvv9vU38">
                    <i class="fas fa-map-marked-alt mr-1"></i> Centurion mall
                </a></p>
            <p class="card-text"><a href="https://goo.gl/maps/5khjVUjy72FdBDVm9">
                    <i class="fas fa-map-marked-alt mr-1"></i>Centurion Lifestyle center
                </a></p>
            <p class="card-text"><a href="https://goo.gl/maps/BxjUB5hcdsaKscaY7">
                    <i class="fas fa-map-marked-alt mr-1"></i> Mall at Reds
                </a></p>
            <p class="card-text"><a href="https://goo.gl/maps/r8PgPKgEgRJn5xus6">
                    <i class="fas fa-map-marked-alt mr-1"></i>Menlyn Shopping center
                </a></p>
            <p class="card-text"><a href="https://g.page/TheMallofAfrica?share">
                    <i class="fas fa-map-marked-alt mr-1"></i>Mall of Africa
                </a></p>


        </div>
    </div>
    <!-- Card Local Suppliers -->
    <div class="card my-3 p-1" style="width: 18rem;">
        <img class="card-img-top" src="https://images.unsplash.com/photo-1542882346-4b19cc95a3f4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Tour operators:</h5>

            <p class="card-text"><a href="https://www.mmilotours.com/">
                    <i class="fas fa-desktop mr-1"></i>Mmilo Tours
                </a></p>
            <p class="card-text"><a href="https://www.ulysses.co.za/">
                    <i class="fas fa-desktop mr-1"></i>Ulysses Tours
                </a></p>
        </div>
    </div>

    <!-- Card Attractions -->

    <div class="card my-3 p-1" style="width: 18rem;">
        <img class="card-img-top" src="https://images.unsplash.com/photo-1556873890-ac0571072d9d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Attractions:</h5>

            <p class="card-text"><a href="https://goo.gl/maps/8icY2F34mtEvX7gk7">
                    <i class="fas fa-map-marked-alt mr-1"></i>Rietvlei dam nature reserve
                </a></p>
            <p class="card-text"><a href="https://goo.gl/maps/5kq5Ga5hHHX5GNJm8">
                    <i class="fas fa-map-marked-alt mr-1"></i>Rhino and lion park
                </a></p>
            <p class="card-text"><a href="https://goo.gl/maps/woCtAFVP3wdWyo7W7">
                    <i class="fas fa-map-marked-alt mr-1"></i>Cradle of humankind
                </a></p>
            <p class="card-text"><a href="https://goo.gl/maps/iC9vLKGe8F13V13B9">
                    <i class="fas fa-map-marked-alt mr-1"></i>Jan Smuts house
                </a></p>
            <p class="card-text"><a href="https://g.page/montecasinoza?share">
                    <i class="fas fa-map-marked-alt mr-1"></i>Monte Casino
                </a></p>
            <p class="card-text"><a href="https://goo.gl/maps/a4idPvvW7vQSa3bd8">
                    <i class="fas fa-map-marked-alt mr-1"></i>Menlyn Maine Casino
                </a></p>
            <p class="card-text"><a href="https://goo.gl/maps/Y3W8obmdsKbN7Rig9">
                    <i class="fas fa-map-marked-alt mr-1"></i>Netcare Unitas Hospital
                </a></p>
            <p class="card-text"><a href="https://goo.gl/maps/RcPBYhNjqjGcZUpy8">
                    <i class="fas fa-map-marked-alt mr-1"></i>Pilanesberg Game Reserve
                </a></p>
        </div>
    </div>

    <!-- Container div end -->
</div>


<%- include("partials/footer")  %>